<!DOCTYPE html>
<html>
<head>
    <title>{{.block_title}}</title>
    <link rel="stylesheet" type="text/css" href="/internal/controller/static/templates/css/main.css">
</head>
<body>
    <div class="main_screen">
        <div class="chat_box">
            {{ range .Images }}
                <div class="image-item">
                    <img src="/{{.}}" alt="Image" width="640"
                         height="640" />
                </div>
            {{ end }}
        </div>
    </div>
    <script>
        const fileInput = document.getElementById('file-input');
        const filename = document.getElementById('filename');

        fileInput.addEventListener('change', function() {
            filename.textContent = this.files[0].name;
        });
    </script>
</body>
</html>